ML-Deployement/.git
ML\ Scratch\ Algorithms/Foundations\ of\ Machine\ Learning/
Darts/DailyDelhiClimateTrain.csv
GeoSpatial\ Analysis/cache

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db